API Key: 'Your API key'
API Secret Key: 'Your API secret key'
Access Token: 'Your access token'
Access Token Secret: 'Your access token secret'
Target name in logs: 'What your bot is replying to (ex. comic, meme, Tweetstorm, etc.)'
Target account handle: 'Username of target account without the @'
Tweet URL location: 'One less than its order in the Tweet'
Target image location on site: 'Number location, see wiki for more info'
Your account handle: 'Username of your account without the @'
Heroku bot name: 'The name of your Heroku app (leave empty if you are running the bot locally)'