API Key: 'Your API key'
API Secret Key: 'Your API secret key'
Access Token: 'Your access token'
Access Token Secret: 'Your access token secret'
Bot target: 'What your bot is replying to (ex. comic, meme, Tweetstorm, etc.)'