API Key: 'Your API key'
API Secret Key: 'Your API secret key'
Access Token: 'Your access token'
Access Token Secret: 'Your access token secret'
Target name in logs: 'What your bot is replying to (ex. comic, meme, Tweetstorm, etc.)'
Target account handle: 'Username of target account without the @'
Your account handle: 'Username of your account without the @'